table{
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  table-layout: fixed;
  border-radius: 5px;
}

th, td{
    max-width:-60%;
    text-align: center;
    padding: 10px;
    border: groove;
    border-style: solid;
    border-width: medium;

}
